.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 180px;
    z-index: 30;

    &_transparent {
        @include media(1200){
            display: none;
        }

        &_mob{
            display: none;
            @include media(1200){
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }

        & .header__nav {
            background: linear-gradient(180deg, rgba(30, 0, 7, 0.6) 0%, rgba(22, 0, 5, 0) 100%);
        }

    }

    &__button {
        width: 30px;
        height: 30px;
        position: relative;
        border: none;
        outline: none;
        background: none;
        display: none;
        @include media(1200) {
          display: block;
        }
        &.open {
          .header__button-line,
          &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(135deg);
          }
          &::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-135deg);
          }
        }
        &::before,
        &::after,
        &-line {
          transition: 0.5s;
          position: absolute;
          content: "";
          left: 0;
          width: 100%;
          height: 2px;
          background: white;
        }
        &::before {
          top: 20%;
        }
        &::after {
          bottom: 20%;
        }
        &-line {
          top: 50%;
          transform: translateY(-50%);
        }
      }

    &__nav {

        .container {
            
        }

    }

    &__top {
        border-bottom: 1px solid #FFFFFF20;
        padding: 15px 0;
        max-height: 91px;

        & .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    &__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 30px;

        &-link {
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
            display: flex;
            justify-content: flex-start;
            align-items: center;   
            transition: 200ms ease-in-out;    
    
            &:hover{
                color: #fff;
            }

            img{
                margin-left: 7px;
            }

        }

    }

    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 50px;
    }

    &__tel {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;    
        transition: 200ms ease-in-out;    

        &:hover{
            color: #fff;
        }

    }

    &__search {

        &-req {
            background: none;
            border: none;
        }

    }

    &__bot {
        height: 50px;
        border-bottom: 1px solid #FFFFFF20;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }


    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
    }

    &__li {

        &:hover {

            & .header__content {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }

            .header__link {

                &::before {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(-50%) translateY(0px) rotate(45deg);
                }

            }

        }

    }

    &__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: 200ms ease-in-out;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -22px;
            left: 50%;
            transform: translateX(-50%) translateY(10px) rotate(45deg);
            width: 15px;
            height: 15px;
            background: #fff;
            opacity: 0;
            visibility: hidden;
            transition:  200ms ease-in-out;
        }

        &:hover{
            color: #fff;
        }

        img{
            margin-left: 7px;
        }

    }

    &__content {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 0;
        width: 100%;
        top: 50px;
        background: #fff;
        transition:  200ms ease-in-out;
        padding: 40px 0;
        transform: translateY(10px);

        & .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &-col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 10px;
        }

        &-per {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            color: #BA6C55;
            
            img {
                margin-left: 5px;
            }

        }

        &-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #4C363B;            
        }

        &-link {
            font-size: 15px;
            line-height: 150%;
            color: #4B363B;

            &.bold {
                font-weight: 500;
            }

            &:hover {
                color: #4B363B;
            }

        }

        &-item {

            &-name {
                margin-bottom: 15px;
                font-weight: 500;
                font-size: 20px;
                line-height: 16px;
                color: #4C363B;
            }

        }

    }

}


.header-mob{
    width: 100%;
    position: relative;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;  
      width: 100%;
      height: 100px;
      z-index: -1;
      background: linear-gradient(180deg, rgba(30, 0, 7, 0.6) 0%, rgba(22, 0, 5, 0) 100%);
    }
    &>.container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__logo {
        margin-left: 20px;
    }
    &__right{
        display: flex;  
        justify-content: flex-end;
        align-items: center;
        column-gap: 25px;
    }
}