.intro {
    height: 100vh;
    
    &__slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 180px 0 70px 0;

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        &>.container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-title {
            font-size: 65px;
            line-height: 1;
            text-align: center;
            color: #FFFFFF;            
        }

        &-p {
            font-weight: 300;
            font-size: 24px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 20px;
        }

    }

}