.products {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
    &__item { 
        max-width: 475px;
        width: calc(50% - 10px);
        position: relative;
        background: #FFFFFF;
        margin-bottom: 40px;
        z-index: 1;
        @media (hover:hover) {
            &:hover{
                z-index: 1;
                &::before{
                    content: '';
                    position: absolute;
                    width: calc(100% + 60px);
                    height: calc(100% + 60px);
                    z-index: -1;
                    top: -30px;
                    left: -30px;
                    background: #fff;
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
                }
                .products__item-hidden{
                    display: flex;
                    opacity: 1;
                    visibility: visible;  
                    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
                    z-index: 2;
                }
            }
            &:hover {
                z-index: 5;
                .products__item-slider-button-right,
                .products__item-slider-button-left {
                    display: block;
                }
            }
        }
        &-top {
            position: relative;
        }
        &-heart {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 2;
        }
        &-aksiya {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background: #F482B9;
            border-radius: 55px;
            padding: 9px 25px;
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
            z-index: 2;
        }
        &-last {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background: #FF8B69;
            border-radius: 55px;
            padding: 9px 25px;
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
            z-index: 2;
        }
        .swiper-slide {
            max-width: 100%;
            width: 100%;
            img{
                max-width: 100%;
                width: 100%;
                object-fit: cover;
                display: block;
            }
        }
        &-slider {
            &-button-right,
            &-button-left {
                display: none;
                color: #4B363B;
                align-items: center;
                justify-content: center;
                width: 10px;
                height: 18px;
                &::after {
                    font-size: 18px;
                }
            }
        }
        &-prices{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 25px;
            margin-bottom: 5px;
        }
        &-price {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            margin-right: 12px;
            letter-spacing: 0.02em;
            color: #4B363B;     
            z-index: 2;
            &_gray{
                font-size: 16px;
                line-height: 120%;
                margin-right: 15px;
                letter-spacing: 0.02em;
                text-decoration-line: line-through;
                color: #BEAEA2;          
                z-index: 2;      
            }       
            &_per{
                font-size: 16px;
                line-height: 120%;
                border: 1px solid #BA6C55;
                box-sizing: border-box;
                border-radius: 0px 55px 55px 0px;
                padding: 5px 12px 5px 7px;
                letter-spacing: 0.02em;
                color: #BA6C55;
                z-index: 2;
            }
        }
        &-title {
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #4B363B;
            z-index: 2;
        }
        &-hidden{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            padding: 0 30px 30px 30px;
            margin-top: 20px;
            opacity: 0;
            visibility: hidden;
            transition:  200ms ease;
            position: absolute;
            left: -30px;
            width: calc(100% + 60px);
            bottom: -216px;
            background: #fff;
            height: 216px;
        }
        &-desc {
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #4B363B;
            margin-top: 6px;
        }
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        &-stars {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            img{
                &:not(:last-child){
                    margin-right: 4px;
                }
            }
        }
        &-q {
            font-size: 14px;
            line-height: 120%;
            text-align: right;
            letter-spacing: 0.02em;
            &.green {
                color: #67BAA1;    
            }
        }
        &-filter{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            padding: 10px 0;
            border-top: 1px solid #EEEAE6;
            border-bottom: 1px solid #EEEAE6;
            &-i {
                padding: 6px 0;
                padding-right: 25px;
                &:first-of-type{
                    flex: 1;
                    .dropdown-toggle{ 
                        width: 100%;
                    }
                }
                &:last-of-type{
                    border-left: 1px solid #EEEAE6;
                    padding-left: 25px;
                }
            }
            &-color {
                min-width: 15px;
                max-width: 15px;
                min-height: 15px;
                max-height: 15px;
                border-radius: 50%;
                margin-right: 9px;
            }
            .dropdown-toggle{ 
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 16px;
                line-height: 120%;
                letter-spacing: 0.02em;
                color: #4B363B;
                div{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex: 1;
                }
            }
            .dropdown-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
        }
        &-btns{
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin-top: 20px;
        }
        &-btn{
            height: 50px;
            border: 1px solid #BA6C55;
            box-sizing: border-box;
            border-radius: 55px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            color: #BA6C55;
            width: calc(50% - 5px);
            display: flex;
            align-items: center;
            justify-content: center;
            &.active{
                background: #BA6C55;
                color: #fff;
                border: 1px solid transparent;
                &:hover{
                    color: #fff;
                }
            }
            &:hover{
                color: #BA6C55;
            }
        }
    }
}