mixin footer()
    .footer 
        .footer__body.container 
            .footer__content 
                .footer__col
                    p.footer__title Католог
                .footer__col
                    p.footer__title Покупателям
                .footer__col
                    p.footer__title Контакты
                .footer__col
                    p.footer__title Мы в соцетях