mixin header1()
    header.header.header_transparent 
        include offer.pug 
        +offer 
        .header__nav
            .header__top 
                .container
                    .header__left
                        a(href="#!").header__left-link Доставка и оплата       
                        a(href="#!").header__left-link Партнёрам       
                        a(href="#!").header__left-link О компании       
                        a(href="#!").header__left-link Магазины
                            img(src="images/location.svg", alt="")
                    .header__logo-container 
                        a(href="#!").header__logo 
                            img(src="images/logo-white.png", alt="")
                    .header__right
                        a(href="tel:+88005006113").header__tel 8 800 500-61-13 
                        button(type='button').header__search-req.header__right-btn
                            img(src="images/search.svg", alt="")
                        a(href="#!").header__right-btn
                            img(src="images/user.svg", alt="") 
                        a(href="#!" data-value="3").header__right-btn.header__right-btn_value
                            img(src="images/heart.svg", alt="") 
                        a(href="#!" data-value="0").header__right-btn.header__right-btn_value.zero
                            img(src="images/cart.svg", alt="") 
            .header__bot
                .container
                    ul.header__list 
                        li.header__li 
                            a(href="#!").header__link Женщинам     
                            .header__content    
                                .container 
                                    .header__content-col 
                                        p.header__content-per Распродажа
                                            img(src="images/per.svg", alt="")
                                        a(href="#!").header__content-link Вязаные трикотажные вещи
                                        a(href="#!").header__content-link Джемперы
                                        a(href="#!").header__content-link Водолазки
                                        a(href="#!").header__content-link Блузки
                                        a(href="#!").header__content-link Платья
                                        a(href="#!").header__content-link Футболки
                                        a(href="#!").header__content-link Брюки
                                        a(href="#!").header__content-link Легинсы и лосины
                                    .header__content-col 
                                        a(href="#!").header__content-link Легинсы и лосины
                                        a(href="#!").header__content-link Шорты
                                        a(href="#!").header__content-link Юбки
                                        a(href="#!").header__content-link Майки
                                        a(href="#!").header__content-link Сорочки
                                        a(href="#!").header__content-link Туники
                                        a(href="#!").header__content-link Халаты
                                        a(href="#!").header__content-link Пижамы
                                        a(href="#!").header__content-link Трусы
                                    img(src="images/menu-1.png", alt="")
                        li.header__li 
                            a(href="#!").header__link Мужчинам
                            .header__content    
                                .container 
                                    .header__content-col 
                                        p.header__content-per Распродажа
                                            img(src="images/per.svg", alt="")
                                        a(href="#!").header__content-link.bold Новинки 
                                    .header__content-col 
                                        a(href="#!").header__content-link Джемперы
                                        a(href="#!").header__content-link Водолазки
                                        a(href="#!").header__content-link Футболки
                                        a(href="#!").header__content-link Брюки
                                        a(href="#!").header__content-link Шорты
                                        a(href="#!").header__content-link Комплекты
                                        a(href="#!").header__content-link Майки
                                        a(href="#!").header__content-link Трусы
                                    img(src="images/menu-2.png", alt="")
                        li.header__li 
                            a(href="#!").header__link Мальчикам
                            .header__content    
                                .container 
                                    .header__content-col 
                                        p.header__content-per Распродажа
                                            img(src="images/per.svg", alt="")
                                        a(href="#!").header__content-link.bold Новинки
                                        a(href="#!").header__content-link.bold Новорожденным
                                        a(href="#!").header__content-link Брюки
                                        a(href="#!").header__content-link Водолазки
                                    .header__content-col 
                                        a(href="#!").header__content-link Джемперы
                                        a(href="#!").header__content-link Майки
                                        a(href="#!").header__content-link Пижамы
                                        a(href="#!").header__content-link Футболки
                                        a(href="#!").header__content-link Халаты
                                    .header__content-col 
                                        a(href="#!").header__content-link Шапки
                                        a(href="#!").header__content-link Шарфы
                                        a(href="#!").header__content-link Шорты
                                        a(href="#!").header__content-link Трусы
                                    img(src="images/menu-3.png", alt="")
                        li.header__li 
                            a(href="#!").header__link  Девочкам 
                            .header__content    
                                .container 
                                    .header__content-col 
                                        p.header__content-per Распродажа
                                            img(src="images/per.svg", alt="")
                                        a(href="#!").header__content-link.bold Новинки
                                        a(href="#!").header__content-link.bold Новорожденным
                                        a(href="#!").header__content-link Брюки
                                        a(href="#!").header__content-link Водолазки
                                        a(href="#!").header__content-link Джемперы
                                        a(href="#!").header__content-link Жилетки
                                    .header__content-col 
                                        a(href="#!").header__content-link Костюмы
                                        a(href="#!").header__content-link Легинсы и лосины
                                        a(href="#!").header__content-link Майки
                                        a(href="#!").header__content-link Пижамы
                                        a(href="#!").header__content-link Сорочки
                                        a(href="#!").header__content-link Футболки
                                        a(href="#!").header__content-link Халаты
                                    .header__content-col 
                                        a(href="#!").header__content-link Шарфы
                                        a(href="#!").header__content-link Шорты
                                        a(href="#!").header__content-link Юбки
                                        a(href="#!").header__content-link Платья
                                        a(href="#!").header__content-link Сарафаны
                                        a(href="#!").header__content-link Трусы
                                    img(src="images/menu-4.png", alt="")
                        li.header__li 
                            a(href="#!").header__link Носки и колготки 
                            .header__content    
                                .container 
                                    .header__content-col 
                                        p.header__content-title Женские
                                        p.header__content-per Распродажа
                                            img(src="images/per.svg", alt="")
                                        a(href="#!").header__content-link Наборы
                                        a(href="#!").header__content-link Классические
                                        a(href="#!").header__content-link Спортивные
                                        a(href="#!").header__content-link С рисунком
                                    .header__content-col 
                                        p.header__content-title Мужские
                                        p.header__content-per Распродажа
                                            img(src="images/per.svg", alt="")
                                        a(href="#!").header__content-link Наборы
                                        a(href="#!").header__content-link Классические
                                        a(href="#!").header__content-link Спортивные
                                        a(href="#!").header__content-link С рисунком
                                    .header__content-col 
                                        p.header__content-title Детские
                                        p.header__content-per Распродажа
                                            img(src="images/per.svg", alt="")
                                        a(href="#!").header__content-link Наборы
                                        a(href="#!").header__content-link Классические
                                        a(href="#!").header__content-link Нескользящие с ABS стопперами
                                        a(href="#!").header__content-link С рисунком
                                    img(src="images/menu-5.png", alt="")
                        li.header__li 
                            a(href="#!").header__link Для дома
                            .header__content    
                                .container 
                                    .header__content-col 
                                        p.header__content-per Распродажа
                                            img(src="images/per.svg", alt="")
                                        a(href="#!").header__content-link Для дома
                                        a(href="#!").header__content-link Для дома
                                        a(href="#!").header__content-link Для дома
                                        a(href="#!").header__content-link Для дома
                                    .header__content-col 
                                        a(href="#!").header__content-link Для дома
                                        a(href="#!").header__content-link Для дома
                                        a(href="#!").header__content-link Для дома
                                        a(href="#!").header__content-link Для дома
                                    .header__content-col 
                                        a(href="#!").header__content-link Для дома
                                        a(href="#!").header__content-link Для дома
                                        a(href="#!").header__content-link Для дома
                                        a(href="#!").header__content-link Для дома
                                    img(src="images/menu-5.png", alt="")
                        li.header__li 
                            a(href="#!").header__link Подарки 
                            .header__content   
                                .container 
                                    a(href="#!").header__content-item 
                                        p.header__content-item-name Для неё 
                                        img(src="images/menu-6.png", alt="") 
                                    a(href="#!").header__content-item 
                                        p.header__content-item-name Для него 
                                        img(src="images/menu-7.png", alt="") 
    header.header.header_transparent_mob    
        +offer 
        .header__nav.header-mob 
            .container
                .header-mob__left
                    button.header__button 
                        span.header__button-line    
                    a(href="index.html#!").header-mob__logo 
                        img(src="images/logo-2.png", alt="")
                .header-mob__right 
                    button(type='button').header__search-req.header__right-btn
                        img(src="images/search.svg", alt="")
                    a(href="#!").header__right-btn
                        img(src="images/user.svg", alt="") 
                    a(href="#!" data-value="3").header__right-btn.header__right-btn_value
                        img(src="images/heart.svg", alt="") 
                    a(href="#!" data-value="0").header__right-btn.header__right-btn_value.zero
                        img(src="images/cart.svg", alt="") 
            .header__menu 
                





mixin header2()
    header.header.header_white
        include offer.pug 
        +offer 
