mixin intro()
    .intro.swiper 
        .intro__wrap.swiper-wrapper     
            .intro__slide.swiper-slide
                img(src="images/intro-bg.png", alt="").intro__slide-bg
                .container 
                    h1.intro__slide-title Скидки до 70%
                    p.intro__slide-p К 8 марта на женскую одежду
                    a(href="#!" anim='ripple').intro__slide-btn.c-btn Купить 
            .intro__slide.swiper-slide
                img(src="images/intro-bg.png", alt="").intro__slide-bg
                .container 
                    h1.intro__slide-title Скидки до 70%
                    p.intro__slide-p К 8 марта на женскую одежду
                    a(href="#!" anim='ripple').intro__slide-btn.c-btn Купить 
        .intro__slide-btns 
            .intro__slide-next.swiper-button-next
            .intro__slide-prev.swiper-button-prev